<h1><%= t('classrooms.title.edit') %></h1>

<%= render 'form' %>
<br />
<%= link_to t('views.btn.show'), @classroom, class: "btn btn-info" %> |
<%= link_to t('views.btn.back'), classrooms_path, class: "btn btn-default" %>
