<h1><%= t('students.title.edit')%></h1>

<%= render 'form' %>

<%= link_to t('views.btn.show'), @student, class: "btn btn-info" %> |
<%= link_to t('views.btn.back'), students_path, class: "btn btn-default" %>
