<h1><%= t('courses.title.edit')%></h1>

<%= render 'form' %>

<%= link_to t('views.btn.show'), @course, class: "btn btn-info" %> |
<%= link_to t('views.btn.back'), courses_path, class: "btn btn-default" %>
